body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;   
}

.section-one{
    display: flex;
    background-color: #1F2937;
    padding: 16px;
    justify-content: space-evenly;

}

.header-one, .header-two {
    display: flex;
    flex-direction: column;
    margin-bottom: 72px;
    width: 400px;
    gap: 8px;
}

.header-logo {
    color: chocolate;
    font-size: 24PX;
    font-weight: 800;
    margin-bottom: 72px; 
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
}

.subtext {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    color: #f9faf8;
    background-color: #3882f6;
    font-weight: 800;
    padding: 6px 24px;
    border: none;
    border-radius: 6px;   
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    gap: 24px;  
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

a:hover {
    color: chocolate;
}

.main-image {
    margin-top: 72px;  
}

.section-two {
    display: flex; 
    flex-direction: column;
    gap: 28px;
    margin-top: 28px;
}

.title-two {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center; 
}

.images {
    display: flex;
    justify-content: center;
    gap: 32px;   
}

.image img {
    border: 4px solid #3882f6;
    border-radius: 16px;
}

.text {
    width: 132px;
    text-align: center;
}